extend layout

block content
  p
    | This is a news website
    | welcome here to read daily news
  p  Bomb Details Emerge in Boston Case
     img( src="http://graphics8.nytimes.com/packages/images/newsgraphics/2013/0415-boston-explosion/boston-explosion-9.jpg", width='500', height='400')
  p  Mourners attended a vigil for Martin Richard, 8, at a park in Boston.
     img( src='../images/boston.jpg', width='500', height='300')
  p  In Grisly Image, a Father Sees His Son
     img( src='../images/sad.jpg', width='500', height='300')
    

block sidebar
  .widget
    h1 NewsList
    p
      a(href='/page1/') News 1...
    p
      a(href='/page2/') News 2...
    p
      a(href='/page3/') News 3...
   
    

