extend layout

block content
  p  Bomb Details Emerge in Boston Case
     img( src="http://graphics8.nytimes.com/packages/images/newsgraphics/2013/0415-boston-explosion/boston-explosion-9.jpg", width='500', height='400')
  p  BOSTON — The explosives used to kill three people and injure 176 at the Boston Marathon on Monday were most likely some kind of “pressure-cooker” devices that sent sharp bits of shrapnel flying into victims in the vicinity of the blast, several law enforcement officials said Tuesday.
  p  Surgeons at several Boston hospitals told televised news conferences on Tuesday that the explosive devices had apparently been packed with small pellets and sharp “nail-like” objects that were designed to maim their victims.	
  p  The resulting explosions sent metal tearing through skin and muscle, destroying the lower limbs of some victims who had only shreds of tissue holding parts of their legs together when they arrived at the emergency room of Massachusetts General Hospital, doctors there said.
  p  Law enforcement officials said the devices were probably hidden inside dark nylon duffel bags or backpacks and left on the street or sidewalk near the finish line. Forensic experts said the design and components of the homemade devices were generic but that the marking “6L,” indicating a six-liter container, could help identify a brand and manufacturer and possibly lead to information on a purchase.
  a(href="http://www.nytimes.com/2013/04/17/us/officials-investigate-boston-explosions.html?hp") Read more in New York times website.
    
block sidebar
  .widget
    h1 NewsList
    p
      a(href='/page1/') News 1...
    p
      a(href='/page2/') News 2...
    p
      a(href='/page3/') News 3...
  
    

