extend layout

block content
  p  In Grisly Image, a Father Sees His Son
     img( src='../images/sad.jpg', width='500', height='300')
  p  BOSTON — When Jeff Bauman woke up in a hospital bed on Tuesday, an air tube was down his throat, both of his legs had been amputated at the knee, and his father was by his side. He tried to talk, but he could not.
  p  He looked angry, as he motioned his arms up and out like shock waves and mouthed: “Boom! Boom!”

  p  Jeff Bauman is the man in the photograph that has become an icon of the Boston Marathon attack, the one showing a bloodied, distraught young man, holding his left thigh, being wheeled away by a man in a cowboy hat. If the world could not identify him immediately, Mr. Bauman’s father — also named Jeff Bauman — certainly could.

  p  That was his son with his legs destroyed, wearing a favorite shirt. That was his son.

  p  When the explosions went off at the Boston Marathon, Jeff Bauman, 52, called his son’s cellphone again and again — no answer. He knew his son was there, to cheer for his girlfriend, Erin Hurley, who was running her first Boston Marathon. For an hour, he kept calling, calling. No answer.

  p  Then his stepdaughter, Erika, called him. “Did you see the picture?” she asked. “Jeffrey’s on the news. He got hurt.”

  p  “Are you sure? Are you sure?” He was shouting now.

  p  “Yes! Yes! I’m sure!” she shouted back.

  p  Mr. Bauman found the picture on Facebook. It was not the whole picture, the one that showed Jeff’s left leg blown off at the calf. He started calling Boston-area hospitals and found his son registered at Boston Medical Center. He and his wife, Csilla, drove from their home in Concord, N.H., and reached Jeff’s side just before 8 p.m.

  p  The surgery was already done. Both Jeff’s legs had been amputated at the knee. He had lost an excessive amount of blood. During surgery, the doctors had to keep resuscitating him, giving him blood and fluids, because he had lost so much.

  p  Jeff, 27, is a good kid, never got in trouble, his father said. He likes playing guitar. He works behind the deli counter at Costco. He plans to pay off his student loans and go back to school at the University of Massachusetts Lowell.

  p  During the marathon, he was standing at the finish line waiting for Ms. Hurley, alongside her two roommates. Ms. Hurley was still about a mile away when the blasts went off, far enough away that she did not know what had happened. Why had everyone stopped?

  p  Jeff was the first casualty brought to Boston Medical, his family was told. He went through the first operation and then a second, about 1 a.m., to drain internal fluids caused by the blunt trauma.

  p  That night, Jeff’s half-brother, Alan, called from his boot camp at Lackland Air Force Base in San Antonio, Tex. His father told him Jeff had been hurt but did not say how badly. He planned to tell Alan the whole truth later.

  p  The Baumans knew how lucky Jeff had been. “The man in the cowboy hat — he saved Jeff’s life,” Ms. Bauman said. Mr. Bauman’s eyes widened. He said: “There’s a video where he goes right to Jeff, picks him right up and puts him on the wheelchair and starts putting the tourniquet on him and pushing him out. I got to talk to this guy!”

  p  The man in the cowboy hat, Carlos Arredondo, 52, had been handing out American flags to runners when the first explosion went off. His son Alexander was a Marine killed in Iraq in 2004, and in years since he has handed out the flags as a tribute.

  p  With the first blast, Mr. Arredondo jumped over the fence and ran toward the people lying on the ground. What happened next, he later recounted to a reporter: He found a young man, a spectator, whose shirt was on fire. He beat out the flames with his hands. The young man, who turned out to be Jeff Bauman, had lost the lower portion of both legs. He took off a shirt and tied it around the stump of one leg. He stayed with Mr. Bauman, comforting him, until emergency workers came to help carry him to an ambulance.
  a(href="http://www.nytimes.com/2013/04/17/us/in-grisly-image-a-father-sees-his-son.html?hp&_r=0") Read more in New York times website.
  
block sidebar
  .widget
    h1 NewsList
    p
      a(href='/page1/') News 1...
    p
      a(href='/page2/') News 2...
    p
      a(href='/page3/') News 3...
  
    

