extend layout

block content
  p  iframe with direct into New York times website
  iframe(src="http://www.nytimes.com/", width='500', height='300')	
  
block sidebar
  .widget
    h1 NewsList
    p
      a(href='/page1/') News 1...
    p
      a(href='/page2/') News 2...
    p
      a(href='/page3/') News 3...
   


